# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# Site settings
title: Chris1sFlaggin
logo: /images/chris.jpg
email: admin@chris1sflaggin.it
description: # this means to ignore newlines until "baseurl:"
  I'm a 21-year-old student currently working towards my degree, with graduation expected in July 2026. 
  I'm a cybersecurity enthusiast, and this year I'll be serving as a junior pwn tutor at UniTo for 
  CyberChallenge.it. 
  Starting in November 2025, I'll also be taking on a new challenge as a high school teacher! 
  Here I'll post my CTF write-ups and personal projects. Hope you enjoy your stay!
baseurl: "" # leave empty for user site
url: "https://chris1sflaggin.it" # update this to your GitHub Pages URL
github_username: chris1sflaggin

# Build settings
remote_theme: "mmistakes/minimal-mistakes@4.26.2"
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-sitemap

minimal_mistakes_skin: "dark"
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
