h6 {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 0);
}
.lista {
    background-color: rgb(255, 0, 255);
}
button {
    background-color: rgb(0, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    border-width: 5px;
    border-top: 10px dashed ;
    border-bottom: 20px double ;
    border-color: blueviolet;
}
.attributi {
    text-indent: 50px;
    font-family: "Times New Roman", Times, serif;
    word-spacing: 10px;
}